<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Codebreaker</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/custom.css" type="text/css">
</head>
<body>
  <div class="container">
    <div class="text-center">
      <div class="alert alert-info results center-block">
        <h3 class="text-center">
          You have 10 attempts
        </h3>
        <table class="table table-hover">

            <% attempts.each do |k, v| %>
            <tr class="info">
              <td><h5><%= k.join %></h5></td>
              <td><h5><%= v.join %></h5></td>
            </tr>
          <% end %>
        </table>
      </div>

      <h4>
        <%= show_hint %>
      </h4>
      
      <h3>
        <% if session.lose? %>
          <p class="alert alert-danger">Game over. The code was: <%= session.instance_variable_get(:@code) %></p>
          <form method="post" action="/start">
            <input class="btn btn-warning" type="submit" name="submit" value="restart!" autofocus>
          </form>
      </h3>
      <h3>
        <% elsif session.win? %>
          <p class="alert alert-success">You win! The code was: <%= session.instance_variable_get(:@code) %></p>
          <form method="post" action="/start">
            <input class="btn btn-warning" type="submit" name="submit" value="restart!" autofocus>
          </form>
      </h3>
      <h3>
        <% else %>
        <form class="form" action="/hint">
          <input class="btn btn-info toggle" name="hint" type="submit" value="hint" onClick="hideme">
        </form>
        <form class="form" name="main" method="post" action="/guess" onsubmit="return validate()" method="post">
          <input class="inp form-control form" name="guess" type="text" autofocus>
          <input class="btn btn-success" type="submit" name="submit" value="Go!">
        </form>
      </h3>
      <form class="restart" action="/start">
        <input class="btn btn-warning" type="submit" value="restart">
      </form>
        <% end %>
    </div>
  </div>
<script src="/js/validation.js"></script>
</body>
</html>